.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.row-center {
	display: flex;
	justify-content: center;
}
.col-center {
	display: flex;
	align-items: center;
}
.bg-deepblue {
	background-color: #324157;
}
.color-write {
	color: #FFF;
}
